{% extends 'base.html.twig' %}

{% block title %} {{title}}!{% endblock %}


{% block body %}
    <h2>Page d'accueil</h2>

    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Libellé</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Date</th>
        </tr>
        {% for article in articles %}
            <tr>
                <td> {{ article.id }} </td>
                <td> <a href="">{{ article.libelle }}</a> </td>
                <td> {{ article.prix }} </td>
                <td> {{ article.stock }} </td>
                <td> {{ article.createAt | date("m/d/Y à H:s:i") }} </td>
            </tr>
            {% else %}
                <div>Pas d'article en stock</div>
        {% endfor %}
    </table>
    
    {# commentaire #}
    <!-- comm-->

{% endblock %}
