{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h2 class="text-center">Liste Articles</h2>

    
    <a href="{{ path('app_article_new') }}" class="btn btn-success mb-3">Ajouter</a>

    <table class="table table-striped">
        <thead>
            <tr class="table-dark">
                <th>Id</th>
                <th>Libelle</th>
                <th>Prix</th>
                <th>Create_at</th>
                <th>Stock</th>
                <th>Catégorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.libelle }}</td>
                <td>{{ article.prix }}</td>
                <td>{{ article.createAt ? article.createAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ article.stock }}</td>
                <td>{{ article.categorie.nom }}</td>
                <td>
                    <a href="{{ path('app_article_show', {'id': article.id}) }}">show</a>
                    <a href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
